/* Main sections */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f2f5;
    color: #333;
}

main {
    padding-top: 130px; /* Adds padding to the top of main content to avoid hiding under the fixed header */
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.custom-bullets {
    list-style-type: none; /* Removes default bullets */
    padding-left: 20px;
}

.custom-bullets li::before {
    content: '';
    display: inline-block;
    height: 10px; /* Size of the bullet */
    width: 10px; /* Size of the bullet */
    background-color: #095079; /* Bullet color */
    border-radius: 50%; /* Makes the bullet circular */
    margin-right: 10px; /* Space between bullet and text */
}

.custom-bullets li a {
    text-decoration: none; /* Removes the underline from links */
    color: #0e5eab; /* Sets the default text color of the links */
    transition: color 0.3s, background-color 0.3s; /* Smooth transition for hover effects */
}

.custom-bullets li a:hover {
    color: #ffffff; /* Changes text color on hover */
    background-color: rgba(52, 152, 219, 0.62); /* Changes background color on hover */
    /*padding: 2px 5px; !* Optional: Adds padding to make the hover effect more noticeable *!*/
    border-radius: 3px; /* Optional: Rounds the corners of the background on hover */
}


.custom-checkmarks {
    list-style-type: none; /* Removes default bullets */
    padding-left: 20px; /* Adjust padding as needed */
}

.custom-checkmarks li::before {
    content: '✔'; /* You can use any Unicode character here */
    color: #2c3e50; /* Custom color for bullet */
    display: inline-block;
    width: 20px; /* Adjust width as needed */
    margin-right: 10px; /* Space between bullet and text */
}



header {
    width: 94%;
    opacity: 0.9;
    max-width: 1000px;
    position: fixed;   /* Keeps the header at the top */
    background-color: #2c3e50;
    color: white;
    text-align: center;
    z-index: 1000;     /* Ensures the header stays on top of other content */
    padding: 10px 0;
    margin: 4px 20px 3% 3%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.header-button {
     display: inline-flex; /* Aligns the icon and text horizontally */
     align-items: center; /* Vertical alignment */
     padding: 10px 15px;
     margin: 5px; /* Spacing between buttons */
     border: 2px solid #ccc; /* Lighter border for a softer look */
     border-radius: 5px;
     text-decoration: none; /* Removes underline from links */
     color: #333; /* Dark text color for contrast */
     font-size: 14px; /* Text size */
     background: #e6e6e6; /* Light grey background */
     transition: background-color 0.3s, border-color 0.3s; /* Smooth transition for hover effects */
 }

.button-icon {
    width: 20px; /* Icon size */
    height: 20px; /* Icon size */
    margin-right: 5px; /* Space between icon and text */
}

.header-button:hover {
    background-color: #d4d4d4; /* Slightly darker grey on hover for better user interaction */
    border-color: #aaa; /* Darker border on hover */
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header p {
    font-size: 16px;
    margin: 5px 0 0;
}


h2 {
    color: #2c3e50;
    margin-bottom: 10px;
}


#imageSection {
    text-align: center; /* Centers the image horizontally */
    /*margin-top: 300px;*/
    max-width: 1000px;
    /*padding: 0 0 0 0; !* Adds padding above and below the image *!*/
    background-color: #ffffff; /* Sets the background color to white */
}

footer {
    margin-top: 300px;
    background-color: #34495e;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive design */
@media (min-width: 1000px) { /* Applies styles when the screen width is 1000px or larger */
    section {
        width: 1000px; /* Fixed width for larger screens */
        margin-left: auto;
        margin-right: auto;
    }
    header {
        /*margin-left: 0;*/
        margin-left: auto;
        margin-right: auto;
        margin-top: 4px;
        padding: 20px 20px;
        left: 50%;            /* Moves the center of the header to the center of the viewport */
        transform: translateX(-50%); /* Corrects the position, centering it exactly */
        width: 1000px;          /* Allows the header to shrink to fit its content */
    }
    header h1 {
        margin: 0;
        font-size: 36px;
    }
    main {
        padding-top: 170px; /* Adds padding to the top of main content to avoid hiding under the fixed header */
    }

}

/* Images */

.whiteBackgroundImage {
    height: auto; /* Maintains the aspect ratio of the image */
    display: block;
    margin: 0 auto;
    align-self: center;
}

#encryption_image {
    max-width: 25%;
}

#fl_image {
    max-width: 30%;
}

#server-client {
    max-width: 75%;
}

.favicon {
    vertical-align: middle; /* Aligns the icon with the middle of adjacent text or buttons */
    margin-right: 5px; /* Adds a small space between the icon and the text or button */
    width: 16px; /* Sets a specific width for the favicon */
    height: 16px; /* Sets a specific height for the favicon */
}

/* Buttons */

.download-button {
    text-decoration: none;
    width: 72%;
    padding: 10px 4%;
    margin: 20px auto 20px 10%;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    transition: filter 0.3s; /* Smooth transition for hover effect */
}


.download-button:hover {
    filter: brightness(85%);
}

#pdf {
    background-color: #e74c3c;
}

#code_download {
    background-color: #6e5494;
}

#video_download {
    background-color: #128184;
}

/* Code */

code {
    display: block;
    background: #ecf0f1;
    padding: 10px;
    margin-top: 5px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 4px;
}